<div class="application-container">
  <div class="message-container"></div>

  <div class="content-container">

    <div class="component-label">DFL, the Big 3</div>
    <p class="caption">The Big 3 do stuff here.  The Big 3 do stuff here.  The Big 3 do stuff here.  The Big 3 do stuff here.  The Big 3 do stuff here.  </p>

    <div class="custom-chart chart-big-dfl">
      <div class="loading-block"></div>
    </div>



    <div class="component-label">GOP, the Network</div>
    <p class="caption">The Big 3 do stuff here.  The Big 3 do stuff here.  The Big 3 do stuff here.  The Big 3 do stuff here.  The Big 3 do stuff here.  </p>

    <div class="custom-chart chart-network-gop">
      <div class="loading-block"></div>
    </div>



    <div class="component-label">Top 20</div>
    <p class="caption">The Big 3 do stuff here.  The Big 3 do stuff here.  The Big 3 do stuff here.  The Big 3 do stuff here.  The Big 3 do stuff here.  </p>

    <div class="custom-chart chart-top-20">
      {{#top20}}
        <div class="cf">
          <div class="chart-label">{{ name }}</div>
          <div class="chart-value">
            <span class="raised" style="width: {{ receipts / top20Max * 100 }}%;"></span>
            <span class="spent" style="width: {{ expenditures / top20Max * 100 }}%; z-index: {{ (expenditures < cash) ? 10 : 1 }};"></span>
            <span class="cash" style="width: {{ cash / top20Max * 100 }}%; z-index: {{ (expenditures >= cash) ? 10 : 1 }};"></span>
          </div>
        </div>
      {{/top20}}
    </div>



    <div class="component-label">Spending on races</div>
    <p class="caption">The Big 3 do stuff here.  The Big 3 do stuff here.  The Big 3 do stuff here.  The Big 3 do stuff here.  The Big 3 do stuff here.  </p>

    <div class="custom-chart chart-money-to-races">
      <div class="loading-block"></div>
    </div>



    <div class="component-label">GOP vs DFL</div>
    <p class="caption">The Big 3 do stuff here.  The Big 3 do stuff here.  The Big 3 do stuff here.  The Big 3 do stuff here.  The Big 3 do stuff here.  </p>

    <div class="custom-chart chart-gop-v-dfl">
      <div class="loading-block"></div>
    </div>









  </div>

  <div class="footnote-container">
    <div class="footnote">
      <p>Some code, techniques, and data on <a href="https://github.com/minnpost/minnpost-2014-follow-the-money" target="_blank">Github</a>.</p>

    </div>
  </div>
</div>
