<div class="application-container">
  <div class="message-container"></div>

  <div class="content-container">

    <div class="text-block">
      <p>It was the Freedom Club of Minnesota that paid for the television ad criticizing Democrats for increasing taxes and funding a new Senate office building. Alliance for a Better Minnesota bought those ads accusing Jeff Johnson, the GOP nominee for governor, of cutting education spending when he served as a legislator. And the Minnesota Jobs Coalition purchased the half-page newspaper ads across the state tying a handful of DFL lawmakers to President Barack Obama and the Affordable Care Act.</p>

      <p>Ever heard of these groups? If you&rsquo;re an average Minnesota voter, probably not. That&rsquo;s because they are all &ldquo;outside&rdquo; spending groups &mdash; types of political action committees that are a relatively new fixture in Minnesota campaigns.</p>

      <p>For years, traditional political action committees (PACs) allowed businesses, labor unions, non-profits and even individuals to contribute to campaigns &mdash; but with strict limits on how much they could give. But the landmark 2010 U.S. Supreme Court ruling in Citizens United v. Federal Election Commission changed the game, opening the door for those same businesses and unions to spend unlimited amounts of cash to influence campaigns.</p>

      <p>Now dollars from around the country flow into state and local races via these outside groups, which &mdash; by law &mdash; must operate completely independently of any candidate. That means many of the messages in any given election are now set by organizations that will never be on the ballot.</p>

      <p>An analysis of the 20 largest outside groups in Minnesota show they have raised more than $18 million for this year&rsquo;s election cycle &mdash; most of which has gone to the governor&rsquo;s race and competitive state House contests. Of that $18 million, nearly $15 million has already been spent, dwarfing the amount of money spent by the candidates themselves. DFL Gov. Mark Dayton raised about $3.1 million for his re-election effort, for example, while Johnson raised $2.1 million. And the $18 million is just a fraction of the total spending on races Minnesota will see this cycle, as even more outside groups empty their coffers in the final days of the campaign.</p>

      <p>Below is a breakdown of how outside money flows through elections in Minnesota: A look at who these major outside groups are, how they (at times) work together; and how that money is funneled to individual races.</p>
    </div>


    <div class="text-block">
      <div class="component-label">The Top 20: Who they are</div>

      <p>Here&rsquo;s a breakdown of the 20 largest local outside groups spending money on this year's state races in Minnesota, along with the party they&rsquo;re affiliated with. (One possible exception should be noted: the figures for Education Minnesota&rsquo;s PAC include donations &mdash; in both dollars and staff time donated &mdash; that may have been allocated to the Minneapolis School Board race.)</p>
    </div>

    <div class="chart-top-20-legend-container">
      {{>barlegend}}
    </div>

    <div class="custom-chart chart-top-20">
      {{#top20:di}}
        <div class="cf">
          <div class="chart-label">
            <span class="chart-label-text">{{ name }}</span>
            {{#party}}
              <span class="party-box {{ party }}"></span>
            {{/party}}
          </div>
          <div class="chart-value" title="{{ tooltip }}">
            <span class="bar raised" style="width: {{ raised / top20Max * 100 }}%;">
              {{#(di === 0)}}<span class="internal-label">{{ f.currencyShort(raised) }}</span>{{/()}}
            </span>
            <span class="bar spent" style="width: {{ spent / top20Max * 100 }}%;">
            </span>
            {{#(di > 0)}}
              <span class="external-label" style="left: {{ raised / top20Max * 100 }}%;">{{ f.currencyShort(raised) }}</span>
            {{/()}}
          </div>
        </div>
      {{/top20}}
    </div>

    <div class="text-block">
      <div class="component-label">The Top 20: Who they support</div>

      <p>Outside groups supporting Democratic candidates and issues in Minnesota easily out-raised and spent their conservative-minded counterparts (as of the Oct. 20 pre-general election campaign finance reporting deadline), though the former had less money on hand to spend than Republican-friendly groups for the final stretch of the campaign.</p>
    </div>


    <div class="chart-gop-v-dfl-legend-container">
      {{>barlegend}}
    </div>

    <div class="custom-chart chart-gop-v-dfl">
      {{#combined}}
        <div class="cf">
          <div class="chart-label">{{ name }}</div>
          <div class="chart-value" title="{{ tooltip }}">
            <span class="raised bar" style="width: {{ raised / combinedMax * 100 }}%;">
              <span class="internal-label">raised {{ f.currencyShort(raised) }}</span>
            </span>
            <span class="spent bar" style="width: {{ spent / combinedMax * 100 }}%;">
              <span class="internal-label">spent {{ f.currencyShort(spent) }}</span>
            </span>
          </div>
        </div>
      {{/combined}}
    </div>

    <div class="text-block">
      <div class="component-label">How the money flows for Democrats</div>

      <p>Democrats are the most likely to decry the adverse effects of big money in politics in the post-Citizens United world, but they've also become more savvy than Republicans when it comes to raising and organizing money to funnel into local races. In Minnesota, the network of contributors is deep-pocketed and vast, and it includes local labor unions like Education Minnesota and AFSCME, as well as national groups like the Democratic Legislative Campaign Committee.</p>

      <p>But at the heart of Democratic spending in Minnesota is a three-headed hydra, consisting of two fundraising powerhouse PACs &mdash; Win Minnesota and the 2014 Fund &mdash; that funnel all their money to Alliance for a Better Minnesota (ABM), which focuses on spending money on web and television advertising. The coordinating scheme, which keeps messaging consistent and prevents spending overlap, has served DFLers and their causes well over the last few election cycles. In 2010, for example, ABM spent millions hammering GOP governor candidate Tom Emmer in television ads, an approach that helped push the first Democratic governor into the office in 20 years. Two years later, Democrats took back control of the state House and defeated two controversial GOP-led amendments on the ballot, victories for which spending and organizing from outside groups was key. In the 2014 cycle, ABM has already spent millions on ads attacking Jeff Johnson over past votes on education funding.</p>
    </div>

    {{#(this.options.support.d3Charts)}}


      {{>networklegend}}

      <div class="custom-chart chart-big-dfl">
        <div class="loading-block"></div>
      </div>
    {{/()}}
    {{^(this.options.support.d3Charts)}}
      <a href="{{ options.paths.images }}top-dfl-fallback.png">
        <img class="img-fallback img-big-dfl" src="{{ options.paths.images }}top-dfl-fallback.png" />
      </a>
    {{/()}}

    <div class="text-block">
      <div class="component-label">How the money flows for Republicans</div>

      <p>Powerful Republicans donors like broadcasting magnate Stanley Hubbard have called on GOP outside spending groups to better coordinate outside campaign spending in order to combat the well-oiled machine that has developed on the left, but so far this cycle, there's little evidence that's happening. The best-funded of the Republican outside groups, the Freedom Club of Minnesota, has shown little interest in coordinating with groups like the Minnesota Chamber of Commerce and its outside spending arm, Pro Jobs Majority. The Freedom Club, founded by media-shy businessman Robert Cummins, has veered to the right of other GOP groups in the candidates and causes it supports. That said, some GOP and business-aligned groups have done at least a little coordination this year, pooling some resources in groups like the Coalition for Minnesota Businesses and the Minnesota Jobs Coalition to spend on pro-business candidates.</p>

      <p>Republicans have also spent a lot of cash through another kind of group &mdash; politically active non-profit organizations registered as 501(c)(4)s, which can avoid disclosing any information about donors as long as any material they produce doesn&rsquo;t explicitly say &ldquo;vote for&rdquo; or &ldquo;vote against&rdquo; a candidate. Proposals to disclose this kind of spending have routinely failed in the state Legislature.</p>
    </div>

    {{#(this.options.support.d3Charts)}}
      

      {{>networklegend}}

      <div class="custom-chart chart-network-gop">
        <div class="loading-block"></div>
      </div>
    {{/()}}
    {{^(this.options.support.d3Charts)}}
      <a href="{{ options.paths.images }}top-gop-fallback.png">
        <img class="img-fallback img-big-dfl" src="{{ options.paths.images }}top-gop-fallback.png" />
      </a>
    {{/()}}

    <div class="text-block">
      <div class="component-label">How the money helps individual candidates</div>

      <p>So where is all this outside money going? Mostly to competitive races for the state House &mdash; Republicans need a net gain of seven seats to reclaim the majority there, and outside groups on both sides have been concentrating their efforts on a handful of competitive suburban and rural districts. That said, the biggest outside spending groups on either side of the political spectrum, ABM and the Freedom Club of Minnesota, have focused much of their resources this fall on the governor's race.</p>

      <p>It&rsquo;s also worth nothing that DFL-aligned outside groups were more likely to funnel their money into their state party than Republican groups, giving the DFL more resources to pump into local races.</p>
    </div>

    {{#(this.options.support.d3Charts)}}
      
      {{#spendScales}}
        {{>networklegend}}
      {{/spendScales}}

      <div class="custom-chart chart-money-to-races">
        <div class="loading-block"></div>
      </div>
    {{/()}}
    {{^(this.options.support.d3Charts)}}
      <a href="{{ options.paths.images }}spending-fallback.png">
        <img class="img-fallback img-big-dfl" src="{{ options.paths.images }}spending-fallback.png" />
      </a>
    {{/()}}

  </div>

  <div class="footnote-container">
    <div class="footnote">
      <p>Data collected manually from <a href="http://www.cfboard.state.mn.us/" target="_blank">Minnesota Campaign Finance and Public Disclosure Board</a> reports.  Some code, techniques, and data on <a href="https://github.com/minnpost/minnpost-2014-follow-the-money" target="_blank">Github</a>.</p>

    </div>
  </div>
</div>


<!-- {{>barlegend}} -->
<div class="legend-container cf text-block">
  <div class="raised"></div>
  <div class="legend-text">Amount raised</div>

  <div class="spent"></div>
  <div class="legend-text">Amount spent</div>

  <div class="party-box dfl"></div>
  <div class="legend-text dfl">DFL</div>

  <div class="party-box gop"></div>
  <div class="legend-text gop">GOP</div>
</div>
<!-- {{/barlegend}} -->

<!-- {{>networklegend}} -->
<div class="legend-container cf text-block network-legend {{ legendClass }}">
  <div class="raised" style="width: {{ Math.sqrt(areaScale(100000)) }}px; height: {{ Math.sqrt(areaScale(100000)) }}px;"></div>
  <div class="legend-text">= $100K raised</div>

  <div class="spent" style="width: {{ Math.sqrt(areaScale(100000)) }}px; height: {{ Math.sqrt(areaScale(100000)) }}px;"></div>
  <div class="legend-text">= $100K spent</div>

  <div class="flow" style="width: {{ scale(100000) }}px;"></div>
  <div class="legend-text">= $100K transferred{{#(legendClass != 'spending')}} to another PAC{{/()}}</div>
</div>
<!-- {{/networklegend}} -->
