/**
 * Main styles for: minnpost-2014-follow-the-money
 */

// Variables
$space: 1em;

$raised: #32955D;
$spent: #BBB33E;
$cash: #958F32;
$flow: #7A7A7A;
$tooltip: #222222;


// This makes the unpublished background not as annoying
body .node-unpublished {
  background-repeat: no-repeat;
}

// Tooltip
body .mp.inner-tooltip {
  text-align: left;
  font-size: 1em;
  padding: 0.25em 0.5em;
}

// Wrap everything for specificity
.mp .minnpost-2014-follow-the-money-container {

  .application-container {
    padding-top: 3em;
  }

  .caption {
    margin-bottom: 2em;
  }

  .custom-chart {
    padding-top: 3em;
    margin-bottom: 3em;
  }


  .chart-big-dfl {

    .raised {
      fill: $raised;
      stroke: #FFFFFF;
      stroke-width: 1;

      &.active {
        stroke: $tooltip;
      }
    }

    .spent {
      fill: $spent;
      stroke: #FFFFFF;
      stroke-width: 1;

      &.active {
        stroke: $tooltip;
      }
    }

    .group-link {
      fill: none;
      stroke: $flow;
      stroke-width: 2;
      stroke-linecap: butt;

      &.active {
        stroke: lighten($flow, 10);
      }
    }
  }


  .chart-network-gop {

    .raised {
      fill: $raised;
      stroke-width: 0;
    }

    .spent {
      fill: $spent;
      stroke-width: 0;
    }

    .cash {
      fill: $cash;
      stroke-width: 0;
      display: none;
    }

    .group-link {
      fill: none;
      stroke: $flow;
      stroke-width: 2;
      stroke-linecap: butt;
    }

    .name, .name div, .name body {
      color: #404040;
      background-color: transparent;
      text-align: center;
    }

    .name div {
      font-size: 0.85em;
      background-color: rgba(230, 230, 230, 0.4);
    }
  }


  .chart-top-20 {

    .chart-label {
      width: 40%;
      float: left;
      text-align: right;
      padding-right: 1em;
      margin-bottom: .5em;
    }

    .chart-value {
      width: 60%;
      float: left;
      position: relative;
      padding-top: 10px;

      span {
        height: 1.5em;
        display: block;
        position: absolute;
        top: 0;
        left: 0;

        &.raised {
          background-color: $raised;
        }

        &.spent {
          background-color: $spent;
          height: 1.25em;
          top: .25em;
        }

        &.cash {
          display: none;
          background-color: $cash;
        }
      }
    }
  }

  .chart-gop-v-dfl {

    .chart-label {
      width: 100%;
      text-align: left;
      margin-bottom: .5em;
      font-size: 1.5em;
    }

    .chart-value {
      width: 100%;
      position: relative;
      margin-bottom: 3em;
      height: 2.5em;

      span {
        height: 3em;
        display: block;
        position: absolute;
        top: 0;
        left: 0;

        &.raised {
          background-color: $raised;
        }

        &.spent {
          background-color: $spent;
          height: 2.5em;
          top: .5em;
        }

        &.cash {
          display: none;
          background-color: $cash;
        }
      }
    }
  }

  // Custom breakpoints
  @media screen and (max-width: 768px) {
  }
}
